<h1>Login</h1>

<div class="alert alert-danger" *ngIf="fail">Fail to login.</div>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
<div class="col-xs-11">

  <!-- UserName -->
  <div class="form-group has-feedback" [class.has-error]="validateControl('name')">
    <label class="center-block">
      <input type="text" class="form-control" formControlName="name">
      <span class="glyphicon glyphicon-remove form-control-feedback" *ngIf="validateControl('name')">
      </span>
    </label>
  </div>

  <!-- Password -->
  <div class="form-group has-feedback" [class.has-error]="validateControl('password')">
    <label class="center-block">
      <input type="password" class="form-control" formControlName="password">
      <span class="glyphicon glyphicon-remove form-control-feedback" *ngIf="validateControl('password')">
      </span>
    </label>
  </div>

  <!-- Buttons -->
  <div class="form-group">
    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Log In</button>
  </div>
  
</div>
</form>